services:
  
  businnes_postgres:
    image: postgres:18.1-alpine
    container_name: businnes_postgres
    ports:
      - target: 5432
        published: 0
        protocol: tcp
        mode: host
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: testDb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 5s
      timeout: 5s
      retries: 5
