services:
  kafka:
    #image: confluentinc/cp-kafka:8.1.0
    build: ./kafka
    container_name: kafka
    ports:
      - target: 9092
        published: 0
        protocol: tcp
        mode: host
      - target: 9093
        published: 0
        protocol: tcp
        mode: host
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      CLUSTER_ID: "w7QkQ1v2Qk9rQ1v2Qk9rQw"
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics --bootstrap-server kafka:9092 --list || exit 1"]
      interval: 1s
      timeout: 10s
      retries: 20

  timescale:
    image: timescale/timescaledb:2.19.0-pg16
    container_name: timescale
    ports:
      - target: 5432
        published: 0
        protocol: tcp
        mode: host
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 5s
      timeout: 5s
      retries: 5
  redis:
    image: redis:7.0.11
    container_name: redis
    ports:
      - target: 6379
        published: 0
        protocol: tcp
        mode: host
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 5s
      retries: 5
  mongodb:
    image: mongo:6.0.5
    container_name: mongodb
    ports:
      - target: 27017
        published: 0
        protocol: tcp
        mode: host
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    healthcheck:
      test: ["CMD-SHELL", "mongosh --eval 'db.runCommand({ ping: 1 })' localhost:27017/test --quiet || exit 1"]
      interval: 1s
      timeout: 20s
      retries: 15
  wiremock:
    image: wiremock/wiremock
    container_name: wiremock
    ports:
      - target: 8080
        published: 0
        protocol: tcp
        mode: host
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/__admin || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
        - ${PWD}/docker/wiremock/:/home/wiremock
    command: "--global-response-templating --verbose"
  mariadb:
    image: mariadb:10.11
    container_name: mariadb
    ports:
      - target: 3306
        published: 0
        protocol: tcp
        mode: host
    environment:
      MYSQL_ROOT_PASSWORD: root
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -uroot -proot || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5